.select--auth {
    min-height: 56px;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 2px rgba(22, 76, 182, 0.2), 0px 2px 20px rgba(22, 76, 182, 0.1);
    &:focus-within {
        box-shadow: 0 0 0 2px rgba(22, 76, 182, 0.2);;
    }
    &:hover {
        box-shadow: 0px 0px 2px rgba(22, 76, 182, 0.2), 0px 2px 20px rgba(22, 76, 182, 0.16);
        svg {
            path {
                d: path(
                    'M11.6875 2C6.33594 2 2 6.375 2 11.6875C2 17.0391 6.33594 21.375 11.6875 21.375C17 21.375 21.375 17.0391 21.375 11.6875C21.375 6.375 17 2 11.6875 2ZM11.6875 20.125C7.03906 20.125 3.25 16.375 3.25 11.6875C3.25 7.07812 7 3.25 11.6875 3.25C16.2969 3.25 20.125 7.03906 20.125 11.6875C20.125 16.3359 16.3359 20.125 11.6875 20.125ZM17.1953 9.42188C17.3906 9.22656 17.3906 8.91406 17.1953 8.75781L16.8828 8.40625C16.6875 8.21094 16.375 8.21094 16.2188 8.40625L9.8125 14.7344L7.11719 12.0391C6.96094 11.8438 6.64844 11.8438 6.45312 12.0391L6.14062 12.3516C5.94531 12.5469 5.94531 12.8203 6.14062 13.0156L9.5 16.4141C9.65625 16.5703 9.96875 16.5703 10.1641 16.4141L17.1953 9.42188Z'
                );
            }
        }
    }
    &.selected {
        box-shadow: 0px 0px 2px rgba(22, 76, 182, 0.2);
        border-color: #3e6dda;
        svg {
            path {
                d: path(
                    'M21.375 11.6875C21.375 6.375 17 2 11.6875 2C6.33594 2 2 6.375 2 11.6875C2 17.0391 6.33594 21.375 11.6875 21.375C17 21.375 21.375 17.0391 21.375 11.6875ZM10.5547 16.8438C10.3203 17.0781 9.89062 17.0781 9.65625 16.8438L5.59375 12.7812C5.35938 12.5469 5.35938 12.1172 5.59375 11.8828L6.49219 11.0234C6.72656 10.75 7.11719 10.75 7.35156 11.0234L10.125 13.7578L15.9844 7.89844C16.2188 7.625 16.6094 7.625 16.8438 7.89844L17.7422 8.75781C17.9766 8.99219 17.9766 9.42188 17.7422 9.65625L10.5547 16.8438Z'
                );
                fill: #3e6dda;
            }
        }
    }
    &.select--disabled {
        background: #F6F6F8;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 20px rgba(0, 0, 0, 0.1);
    }
}
